# SERVER
API_GATEWAY_PORT=3001
HOST=127.0.0.1
# BDD
DATABASE_URL="postgresql://root:root@localhost:5432/db?schema=public"
# TOKEN JWT
JWT_EXPIRES_IN=3600
SECRET_KEY="SECRET_KEY"
OTP_SECRET_CODE="OTP_SECRET_CODE"
OTP_STEP_TIME=33600
# MAIL
MAILER_HOST=localhost
MAILER_PORT=8025